[Unit]
Description=Git Auto Push Service
After=network.target

[Service]
Type=simple
User=gobotuser
WorkingDirectory=/home/gobotuser/go/src/mygotelegrambot
ExecStart=/home/gobotuser/go/src/mygotelegrambot/watch_and_push.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 